
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 24px 16px 80px;
  background-color: #F0ADDA;
  background-image:
    linear-gradient(#ffffff 1px, transparent 1px),
    linear-gradient(90deg, #ffffff 1px, transparent 1px);
  background-size: 30px 30px;
}

.scene {
  width: 100%;
  max-width: 390px;
  position: relative;
}

.win-browser {
   width: 350px;
   height: 400px;
   display: block;
}

.win-browser-wrap {
  position: relative;
  display: inline-block;
}

.win-text {
  position: absolute; 
  top: 60px;          
  left: 20px;    
  right: 35px;
     
}

.greeting {
  font-family: 'Press Start 2P', monospace;
  font-size: 18px;
  color: #1a001a;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 30px;
}

.subtitle {
  font-family: 'VT323', monospace;
  font-size: 17px;
  color: #434141;
  margin-top: 10px;
}

.subtitle01 {
  font-family: 'VT323', monospace;
  font-size: 10px;
  color: #434141;
  margin-top: 10px;
  text-align: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #464545;
  margin: 10px 0;
}

.gif-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.btn-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 14px;
}

.pixel-btn {
margin-top: 60px;
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #000;
  background: #F2CAFF;
  border: 2px solid #371537;
  padding: 8px 14px;
  cursor: pointer;
  box-shadow: 3px 3px 0 #CC5BCC;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

.pixel-btn:active {
  box-shadow: 1px 1px 0 #CC5BCC;
  transform: translate(2px, 2px);
}

.win-second-wrap {
  position: absolute;
  top: 350px;  
  right: 0;   
  z-index: 4;  
}

.win-second {
  width: 250px;
  height: auto;
  display: block;
}

.win-third-wrap {
  position: absolute;
  top: 440px;   
  z-index: 4; 
}

.win-third {
  width: 360px;
  height: auto;
  display: block;
}